@use 'corecss/abstract/variables' as *

html
    box-sizing: border-box
    font-size: 100%
*
    font-family: $font-roboto,$font-poppins,$font-fira
    box-sizing: inherit
    color: inherit

body
    font-family: $font-poppins
    margin: 0
    padding: 0
ul
    padding: 0
    list-style-type: none

hr
    border: 0
    border-top: 1px solid #efefef
img
    max-width: 100%
