.left-sidebar {
  background-color: var(--highlight);
}

body:not([data-theme-mode="dark-mode"]) .left-sidebar {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(112, 109, 109, 0.39)),
    to(rgba(105, 104, 108, 0))
  );
  background-image: linear-gradient(
    270deg,
    rgba(112, 109, 109, 0.39),
    rgba(105, 104, 108, 0)
  );
}

body[data-theme-mode="dark-mode"] .left-sidebar {
  background-color: var(--nav-bar-background);
}

body[data-theme-mode="dark-mode"] .left-sidebar .dropdown-toggle:after,
body[data-theme-mode="dark-mode"] .left-sidebar i {
  color: var(--highlight);
}

body[data-theme-mode="dark-mode"] .left-sidebar .sidebar-toggle-btn {
  border-color: var(--highlight);
}

body[data-theme-mode="dark-mode"] .left-sidebar .sidebar-toggle-btn:hover {
  -webkit-box-shadow: 0 2px 6px 0 var(--highlight);
  box-shadow: 0 2px 6px 0 var(--highlight);
}

body[data-theme-mode="dark-mode"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a:before {
  border-color: var(--highlight);
}

body[data-theme-mode="dark-mode"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a.active:before,
body[data-theme-mode="dark-mode"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a:hover:before {
  background-color: var(--highlight);
}

body[data-theme-mode="dark-mode"][data-theme-color="app-theme-cafe"]
  .left-sidebar
  .dropdown-toggle:after,
body[data-theme-mode="dark-mode"][data-theme-color="app-theme-cafe"]
  .left-sidebar
  i,
body[data-theme-mode="dark-mode"][data-theme-color="app-theme-charcoal"]
  .left-sidebar
  .dropdown-toggle:after,
body[data-theme-mode="dark-mode"][data-theme-color="app-theme-charcoal"]
  .left-sidebar
  i {
  color: var(--contrast-background);
}

body[data-theme-mode="dark-mode"][data-theme-color="app-theme-cafe"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a:before,
body[data-theme-mode="dark-mode"][data-theme-color="app-theme-charcoal"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a:before {
  border-color: var(--contrast-background);
}

body[data-theme-mode="dark-mode"][data-theme-color="app-theme-cafe"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a.active:before,
body[data-theme-mode="dark-mode"][data-theme-color="app-theme-cafe"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a:hover:before,
body[data-theme-mode="dark-mode"][data-theme-color="app-theme-charcoal"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a.active:before,
body[data-theme-mode="dark-mode"][data-theme-color="app-theme-charcoal"]
  .left-sidebar
  ul.sidebar-second-level
  > li
  > a:hover:before {
  background-color: var(--contrast-background);
}

.left-sidebar {
  -webkit-box-flex: 250px;
  -ms-flex: 250px;
  flex: 250px;
  z-index: 90;
  color: #ccc;
}

.left-sidebar a[aria-expanded="true"] {
  color: #fff;
}

.left-sidebar a[aria-expanded="true"]:before {
  background: #fff;
}

.left-sidebar a[data-bs-toggle="collapse"] {
  position: relative;
}

.left-sidebar ul li a {
  padding: 0.8rem 1.5rem;
  display: block;
  text-align: left;
}

.left-sidebar ul li.active > a,
.left-sidebar ul li:hover > a {
  color: #fff;
}

.left-sidebar ul ul {
  background-color: rgba(0, 0, 0, 0.1);
}

.left-sidebar ul ul a {
  font-size: 0.95em;
  padding-left: 3.5rem;
}

.left-sidebar ul.sidebar-content > li.sidebar-item > a {
  position: relative;
}

.left-sidebar ul.sidebar-content > li.sidebar-item > a.active,
.left-sidebar ul.sidebar-content > li.sidebar-item > a:hover {
  background-color: var(--nav-bar-highlight-background);
}

.left-sidebar ul.sidebar-second-level > li > a {
  position: relative;
}

.left-sidebar ul.sidebar-second-level > li > a:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  left: 2.4rem;
  top: calc(50% - 0.3rem);
  border: 1px solid #fff;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.left-sidebar ul.sidebar-second-level > li > a.active:before,
.left-sidebar ul.sidebar-second-level > li > a:hover:before {
  background: #fff;
}

.left-sidebar ul.sidebar-third-level {
  padding-left: 1rem;
}

.left-sidebar ul.sidebar-third-level > li > a {
  position: relative;
}

.left-sidebar .dropdown-toggle:after {
  display: block;
  position: absolute;
  top: 25%;
  right: 20px;
  font-family: Font Awesome\5 Pro;
  content: "";
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.left-sidebar .dropdown-toggle.collapsed:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.left-sidebar .sidebar-title {
  margin: 5px 0 0 10px;
  font-size: 0.8em;
  font-weight: 700;
}

.left-sidebar .sidebar-footer {
  height: 70px;
}

.left-sidebar .sidebar-footer,
.sidebar-toggle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-toggle-btn {
  width: 30px;
  height: 26px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.sidebar-toggle-btn:hover {
  -webkit-box-shadow: 0 2px 6px 0 #ccc;
  box-shadow: 0 2px 6px 0 #ccc;
}

.sidebar-header {
  height: 70px;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.13);
}

.sidebar-header strong {
  display: none;
}

.nav-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  height: 60px;
  -webkit-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.14);
}

.nav-filter input[type="text"] {
  padding: 8px 40px 8px 14px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.nav-filter input[type="text"]:not(:focus) {
  border-color: rgba(0, 0, 0, 0.1);
}

.sidebar-content {
  padding: 10px 0;
}

.sidebar-item i {
  margin-right: 1rem;
}

body[data-theme-sidebar-shrinked="true"] .nav-filter,
body[data-theme-sidebar-shrinked="true"] .sidebar-profile {
  display: none;
}

@media (min-width: 992px) {
  body[data-theme-sidebar-shrinked="true"] .left-sidebar {
    -webkit-box-flex: 80px;
    -ms-flex: 80px;
    flex: 80px;
    max-width: 80px;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar ul li a {
    padding: 20px 10px 20px 28px;
    font-size: 0.85em;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar ul li a span {
    display: none;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar ul ul a {
    padding: 0.7rem 0.7rem 0.7rem 2rem;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar .sidebar-header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar .sidebar-header .h3,
  body[data-theme-sidebar-shrinked="true"] .left-sidebar .sidebar-header h3 {
    display: none;
  }

  body[data-theme-sidebar-shrinked="true"]
    .left-sidebar
    .sidebar-header
    strong {
    display: block;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar .sidebar-title {
    display: none;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar .sidebar-content {
    padding: 0;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar .sidebar-item i {
    font-size: 1.4rem;
  }

  body[data-theme-sidebar-shrinked="true"]
    .left-sidebar
    .sidebar-item
    > .collapse,
  body[data-theme-sidebar-shrinked="true"]
    .left-sidebar
    .sidebar-item
    > .dropdown-toggle:after {
    display: none;
  }

  body[data-theme-sidebar-shrinked="true"] .left-sidebar .sidebar-item:hover {
    position: relative;
  }

  body[data-theme-sidebar-shrinked="true"]
    .left-sidebar
    .sidebar-item:hover
    > a.dropdown-toggle {
    background-color: var(--nav-bar-highlight-background);
    width: 240px;
    color: #fff;
  }

  body[data-theme-sidebar-shrinked="true"]
    .left-sidebar
    .sidebar-item:hover
    > a.dropdown-toggle
    span {
    display: inline;
    margin-left: 34px;
  }

  body[data-theme-sidebar-shrinked="true"]
    .left-sidebar
    .sidebar-item:hover
    > ul {
    display: block;
    position: absolute;
    z-index: 95;
    left: 80px;
    overflow: visible;
    width: auto;
    min-width: 160px;
    background: var(--nav-bar-highlight-background);
  }

  body[data-theme-sidebar-shrinked="true"]
    .left-sidebar
    ul.sidebar-second-level
    > li
    > a:before {
    left: 0.5rem;
  }

  body[data-theme-sidebar-shrinked="true"] .sidebar-footer {
    display: none !important;
  }

  body[data-theme-sidebar-fixed="true"] .left-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
  }

  body[data-theme-sidebar-fixed="true"] .sidebar-wrapper {
    height: calc(100% - 70px);
  }

  body[data-theme-sidebar-fixed="true"] .sidebar-body {
    height: calc(100% - 70px);
    width: 100%;
  }

  body[data-theme-sidebar-fixed="true"] .page-container {
    margin-left: 250px;
  }

  body[data-theme-sidebar-fixed="true"][data-theme-sidebar-shrinked="true"]
    .page-container {
    margin-left: 80px;
  }
}

@media (max-width: 991.98px) {
  .left-sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar-wrapper {
    display: none;
  }
}
