RegistrationEvent:
  - callback: RegisterUserToNewsLetterListener
    priority: 0
  - callback: EmailSenderlistener
    priority: 1
ForgotPasswordEvent:
  - callback: EmailSenderlistener
    priority: 0
VerifyUserAccountEvent:
  - callback: EmailSenderlistener
    priority: 0
ValidateUserAccountEvent:
  - callback: EmailSenderlistener
    priority: 3
  - callback: RegisterUserToNewsLetterListener
    priority: 1
  - callback: UpdateAccountValidationDataListener
    priority: 2
  - callback: DeleteVerificationRequestListener
    priority: 0
  - callback: UpdateUserSessionListener
    priority: 4
LoginEvent:
  - callback: ManageVisitorListener
    priority: 0
  - callback: ClearLoginAttempsListener
    priority: 1
  - callback: UpdateUserCokkiesListener
    priority: 2
LogoutEvent:
  - callback: ClearUserSessionListener
    priority: 0
NewCommentEvent:
  - callback: RetrieveCommentsListener
    priority: 0
NewCommentVoteEvent:
  - callback: CheckMultipleVotesListener
    priority: 0
PageDisplayingEvent:
  - callback: RetrieveCommentsListener
    priority: 0
UserCartChangeEvent:
  - callback: DeleteCacheFileListener
    priority: 1
  - callback: DisplayUserCartListener
    priority: 0
CustomerAddressChangeEvent:
  - callback: UpdateCustomerSessionAddressListener
    priority: 1
  - callback: DisplayCustomerAddressListener
    priority: 0
CustomerAddressDeleteEvent:
  - callback: DeleteCustomerSessionAddressListener
    priority: 1
  - callback: DisplayCustomerAddressListener
    priority: 0
CheckoutNavigationEvent:
  - callback: UpdateCustomerSessionAddressListener
    priority: 1
  - callback: DisplayCustomerAddressListener
    priority: 0
PaymentEvent:
  - callback: SaveOrderDetailsListener
    priority: 4
  - callback: ClearUserCartListener
    priority: 3
  - callback: ClearCustomerSessionListener
    priority: 1
  - callback: ClearCustomerCacheListener
    priority: 2
  - callback: DisplayOrderResultListener
    priority: 0
AddNewProductEvent:
  - callback: ClearCacheListener
    priority: 5
  - callback: SaveProductsCategoriesListener
    priority: 4
  - callback: SaveProductsVariantsListener
    priority: 3
  - callback: SaveProductsTagsListener
    priority: 1
  - callback: ClearUploadedFilesListener
    priority: 2
  - callback: RefreshPageListener
    priority: 0
